{{ jsdoc if jsdoc }}
{{ prefix if prefix }}{{ name if name }}(
    {%- for param in parameters -%}
        {{ param.name }}: {{ param.tstype }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}
){% if name %}:{% else %} =>{% endif %} {% if returns|length == 1 -%}
    {{ returns[0] }}
{%- elif returns|length == 0 -%}
    void
{%- else -%}
    [{%- for return in returns -%}
        {{ return }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}]
{%- endif -%}
